# IDE and Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store

# Vendor files
vendor/

# Environment files
.env

# Log files
*.log
logs/

# Temporary files
tmp/
temp/
*.tmp

# Cache files
cache/

# Database files
*.sqlite
*.db

# User uploaded files (if applicable)
public/uploads/

# Backup files
*.bak
*.backup
